extends layout

block content
  .timeline
    form#join-form(action='/auth/join' method='post')
      .input-group
        label(for='join-email') Email
        input#join-email(type='email' name='email')
      .input-group
        label(for='join-nick') Nickname
        input#join-nick(type='text' name='nick')
      .input-group
        label(for='join-password') Password
        input#join-password(type='password' name='password')
      if joinError
        .error-message= joinError
      button#join-btn.btn(type='submit') Sign up
